<h1>Admin::Articles#new</h1>
<p>Find me in app/views/admin/articles/new.html.erb</p>

<%= form_with(model: [:admin, @Article], local: true) do |f| %>
	<%= f.label :editor_id %>
	<%= f.collection_select :editor_id, Editor.all, :id, :first_name, include_blank: "編集者を選択して下さい" %>
	<br>

	<%= f.label :status %>
	<%= f.select :status, Article::status_options, include_blank: "状態を選択して下さい" %>
	<br>

	<%= f.label :category_id %>
	<%= f.collection_select :category_id, Category.all, :id, :label, include_blank: "カテゴリを選択して下さい" %>
	<br>

	<span>Tag</span>
	<%= f.collection_check_boxes :tag_ids, Tag.all, :id, :label do |b| %>
		<%= b.check_box %>
		<%= b.label %>
	<% end %>

	<hr>

	<%= f.label :meta_title %>
	<%= f.text_field :meta_title %>
	<br>

	<%= f.label :meta_keyword %>
	<%= f.text_field :meta_keyword %>
	<br>

	<%= f.label :meta_description %>
	<%= f.text_area :meta_description %>
	<br>

	# 画像アップ
	<%= f.label :mv_path %>
	<%= f.text_field :mv_path %>
	<br>

	<%= f.label :title %>
	<%= f.text_field :title %>
	<br>

	<%= f.label :lead %>
	<%= f.text_area :lead %>
	<br>
	
	<%= f.label :content %>
	<%= f.text_area :content %>
	<br>
	
	<%= f.submit "Save changes", class: "btn btn-primary" %>
<% end %>